mixin feedback()
    section.feedback
        .container.feedback__container
            form.feedback-form.col-span-4
                legend.feedback-form__legend Say hello!
                input.input.feedback-form__input(type="text" placeholder="Name")    
                input.input.feedback-form__input(type="text" placeholder="Email")            
                input.input.feedback-form__input(type="text" placeholder="Message")    
            button.button.feedback__button.button_theme_message.row-start-2.col-span-3 Send message
            .contact-us.feedback__contact-us.col-start-8.col-span-5
                ul.contact-us__list
                    li.contact-us__item.contact-us__item_phone + ( 373 ) 60 817818
                    li.contact-us__item.contact-us__item_mail belicov.dmitrii@gmail.com
                    li.contact-us__item.contact-us__item_location Transnistria , Bendery Indusrial 59 / 3