@border-background: #afb4ff;

@color-light: #ffffff;
@color-gray: #666666;
@color-bluegray: #3a4142;
@color-darkgray: #2a2d2e;
@color-lightgray: #cccccc;

@text-color: #4a4a4a;
@background-color: #ffffff;

@main-font: 'proximanova';

@font-weight-light: 300;
@font-weight-regular: 400;
@font-weight-medium: 500;
@font-weight-semibold: 600;
@font-weight-bold: 700;
@font-weight-extrabold: 800;
@font-weight-black: 900;
