.slogan{
    font-size: 7.2rem;
    font-weight: @font-weight-black;
    text-transform: uppercase;
    text-align: center;
    
    background: -webkit-linear-gradient(left,#cf38ef, #f82e6f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}