mixin menu()
    nav.menu.col-start-7.col-span-6
        ul.menu__list
            li.menu__item
                a.link.menu__link.menu__link_active(href="#") HOME
            li.menu__item
                a.link.menu__link(href="#") PROJECT
            li.menu__item
                a.link.menu__link(href="#") SOLUTIONS
            li.menu__item
                a.link.menu__link(href="#") BLOG
            li.menu__item
                a.link.menu__link(href="#") CONTACT
