mixin services()
    section.services
        .container.services__container
            h2.head-2.services__head-2.row-start-1.col-span-6 Our services
            p.text.row-start-2-col-span-6 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit tortor. Quisque bibendum mauris velit easely documented
            +service-item('Branding')
            +service-item('Web-application')
            +service-item('Support')
            +service-item('Design')
            +service-item('SEO')
            +service-item('Coding')
            +img-wrap('service.png')
            button.button.services__button.button_theme_outline.row-start-3 learn more