mixin contact()
    .contact
        ul.contact__list
            li.contact__item
                span.contact__phone + ( 373 ) 60 817 818
            li.contact__item
                a.link.contact__link.contact__link_twitter(href="#") tw
            li.contact__item
                a.link.contact__link.contact__link_facebook(href="#") fb
            li.contact__item
                a.link.contact__link.contact__link_instagram(href="#") inst
            li.contact__item
                a.link.contact__link.contact__link_linkedin(href="#") in