mixin social-media()
    .social-media.footer__social-media.col-span-12
        .social-media__icon.social-media__icon_facebook.col-start-5.col-span-1
            a.link.social-media__link(href="#")
        .social-media__icon.social-media__icon_twitter.col-span-1
            a.link.social-media__link(href="#")
        .social-media__icon.social-media__icon_pinterest.col-span-1
            a.link.social-media__link(href="#")
        .social-media__icon.social-media__icon_google.col-span-1
            a.link.social-media__link(href="#")