mixin contact()
    .contact.footer__contact.col-span-12
        .contact__item.col-span-3
            .contact__icon.contact__icon_location
            .contact__info New York 1584 St. Vincent
        .contact__item.col-span-3
            .contact__icon.contact__icon_mail
            .contact__info contact@architenext.com
        .contact__item.col-span-3
            .contact__icon.contact__icon_phone
            .contact__info Telephone: +1 800 450 6024
        .contact__item.col-span-3
            .contact__icon.contact__icon_fax
            .contact__info Fax: +1 800 745 6024
            