mixin includes()

    include ../blocks/header/header.pug
    include ../blocks/footer/footer.pug

    include ../blocks/header/logo/logo.pug
    include ../blocks/header/menu/menu.pug

    include ../blocks/footer/contact/contact.pug
    include ../blocks/footer/social-media/social-media.pug
