mixin includes()

    include ../blocks/header/header.pug
    include ../blocks/footer/footer.pug
    include ../blocks/img-wrap/img-wrap.pug

    include ../blocks/header/logo/logo.pug
    include ../blocks/header/menu/menu.pug
    include ../blocks/header/contact/contact.pug

    include ../blocks/main/main.pug
    include ../blocks/main/home/home.pug
    include ../blocks/main/about/about.pug
    include ../blocks/main/services/services.pug
    include ../blocks/main/services/service-item/service-item.pug
    include ../blocks/main/portfolio/portfolio.pug
    include ../blocks/main/testimonials/testimonials.pug
    include ../blocks/main/feedback/feedback.pug

