mixin includes()

    include ../blocks/img-wrap/img-wrap.pug
    include ../blocks/logo/logo.pug
    include ../blocks/menu/menu.pug
    include ../blocks/contact/contact.pug

    include ../blocks/header/header.pug
    include ../blocks/footer/footer.pug

    include ../blocks/main/main.pug
    include ../blocks/main/home/home.pug
    include ../blocks/main/about/about.pug
    include ../blocks/main/services/services.pug
    include ../blocks/main/services/service-item/service-item.pug
    include ../blocks/main/portfolio/portfolio.pug
    include ../blocks/main/portfolio/gallery/gallery-item/gallery-item.pug
    include ../blocks/main/testimonials/testimonials.pug
    include ../blocks/main/testimonials/review/review-item/review-item.pug
    include ../blocks/main/feedback/feedback.pug

