mixin feature-item(name)
    article.feature-item
        .feature-item__wrap
            img.feature-item__img(src="images/feature/" + name + ".png" alt="")
        section.feature-item__name
            h3.feature-item__caption #{name}
