.news{
    padding-top: 17rem;
    padding-bottom: 17rem;

    &__head-2{
        margin-bottom: 5rem;
    }

    &__container{
        grid-template-rows: repeat(3, auto);
    }

    &__button{
        margin-top: 6rem;
    }

}