.testimonials{

    &__container{
        padding-top: 13.5rem;
        padding-bottom: 11.5rem;
        
        grid-template-rows: repeat(3, auto);

        border-bottom: 0.4rem solid @color-lightgray;
    }
    
    &__head-2{
        margin-bottom: 9.5rem;
    }
    
}