mixin about()
    section.about
        .container.about__container
            h2.head-2.head-2_right.about__head-2.row-start-1.col-span-5.col-start-8 Shortly about us 
            p.text.text_right.text_theme_about.row-start-2.col-span-6.col-start-7 We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh we are confident you will be pleased with the results
            +img-wrap('about.png')(class="col-start-1 row-span-3 col-span-6")
            button.button.about__button.button_theme_outline.row-start-3.col-start-10.col-span-3 learn more 
