.about{

    &__container{
        padding-top: 7rem;
        grid-template-rows: repeat(3, auto);
    }

    &__head-2{
        margin-top: 5rem;
        margin-bottom: 2.5rem;
    }

    &__button{
        margin-top: 5rem;
        margin-bottom: 5.5rem;
    }
}