mixin contact()
    .contact.col-start-9.col-span-4
        ul.contact__list(class!=attributes.class)
            li.contact__item
                span.contact__phone + ( 373 ) 60 817 818
            li.contact__item
                a.link.contact__link.contact__link_twitter(href="#")
            li.contact__item
                a.link.contact__link.contact__link_facebook(href="#") 
            li.contact__item
                a.link.contact__link.contact__link_instagram(href="#") 
            li.contact__item
                a.link.contact__link.contact__link_linkedin(href="#") 