mixin contact()
    .contact.col-start-10.col-span-3
        ul.contact__list(class!=attributes.class)
            li.contact__item
                span.contact__phone + ( 373 ) 60 817 818
            li.contact__item
                a.link.contact__link.contact__link_twitter tw
            li.contact__item
                a.link.contact__link.contact__link_facebook fb
            li.contact__item
                a.link.contact__link.contact__link_instagram inst
            li.contact__item
                a.link.contact__link.contact__link_linkedin in