mixin logo()
    .logo.col-span-4
        .logo__wrap
            img.logo__img(src="images/logo.png", alt="")
        |
        |
        span.logo__name 
            strong.logo__name_first-word ARCHI
            | NEXT
