mixin menu()
    nav.menu.col-span-6
        ul.menu__list
            li.menu__item
                a.link.menu__link(href="#")(class!=attributes.class) Services
            li.menu__item
                a.link.menu__link(href="#")(class!=attributes.class) About us
            li.menu__item
                a.link.menu__link(href="#")(class!=attributes.class) Reviews
            li.menu__item
                a.link.menu__link(href="#")(class!=attributes.class) Portfolio
            li.menu__item
                a.link.menu__link(href="#")(class!=attributes.class) Contact
