mixin menu()
    nav.menu.col-span-6
        ul.menu__list(class!=attributes.class)
            li.menu__item
                a.link.menu__link(href="#") Services
            li.menu__item
                a.link.menu__link(href="#") About us
            li.menu__item
                a.link.menu__link(href="#") Reviews
            li.menu__item
                a.link.menu__link(href="#") Portfolio
            li.menu__item
                a.link.menu__link(href="#") Contact
