mixin service-item(name)
    article.service-item
        .service-item__wrap
            .service-item__img(src="images/service/" + name + ".png" alt="")
        section.service-item__name
            h3.service-item__caption #{name}
