mixin footer()
    footer.footer
        .container.footer__container
            +logo("logo_white.png")
            +menu()(class="menu__list_inverse")
            +contact()(class="contact__link_inverse")
